<footer>
    <span>&#169;Coding Ninjas. All Rights Reserved.</span>

    <ul>
        <% if(locals.user){ %>
            <li><a href="/users/profile">
                <%= user.name %>
            </a></li>
            <li>
                <a href="/">Home</a>
            </li>
        <% }else{ %>
            <li>
                <a href="/users/sign-in">Sign In</a>
            </li>
            <li>
                <a href="/users/sign-up">Sign up</a>
            </li>
        <% } %>
    </ul>
</footer>