<h1>
    Forgot Password
</h1>


<form action="" method="post">

    <input type="email" placeholder="Your Email" required style="margin-left: .5rem;">
    <br>
    <br>
    
    <button style="margin-left:.5rem ;">Submit</button>

</form>