#home-container{
    display: flex;
    #feed-posts{
        width: 70%;
        padding: 10px;

        form{
            display: flex;
            align-items: center;

            textarea{
                border-radius: 10px;
                padding: 5px;
                color: black;
                font-weight: bold;
            }
            button{
                margin-left: 10px;
                height: fit-content;
                border-radius: 4px;
                border: 1px gray solid;
                font-weight: bold;
            }
        } 
    }
    #user-friends{
        width: 30%;
        padding: 10px;
        border-left: 1px solid black;
        height: 100%;
        a{
            cursor: pointer;
            text-decoration: none;
            color: black;
        }
    }
}