.post-comments{
    form{
        input{
            border-radius: 4px;
            border: 1px gray solid;
            font-weight: bold;
        }
    }
    
}
.delete a{
    text-decoration: none;
    color: red;
    font-size: large;
    
}
