body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 0;
  padding: 0;
  /* text-align: center; */
  background-color: burlywood; }
  body #main {
    min-height: 100vh; }

button {
  color: white;
  font-weight: bold;
  letter-spacing: 2px;
  background-color: #0969f9;
  font-size: medium;
  border-radius: 10px;
  border-color: white; }
  button a {
    color: white;
    font-weight: bold;
    letter-spacing: 2px;
    text-decoration: none; }
