body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 0;
  padding: 0;
  /* text-align: center; */
  background-color: skyblue; }
  body #main {
    height: 100%; }
